In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('./data/serie-storiche-ecommerce-pulito-no-buchi-temporali.csv')

In [5]:
dataset["data"].head()

0    2014-01-01
1    2014-01-02
2    2014-01-03
3    2014-01-04
4    2014-01-05
Name: data, dtype: object

In [7]:
dataset["Datetime"] = pd.to_datetime(dataset["data"])

In [8]:
dataset.head()

,Unnamed: 0,data,new_index,totale,settore,Anno,Mese,Giorno,Mese (n°),Timestamp,Datetime
0,0,2014-01-01,NaN,0.0,Pesca,2014,Gennaio,1,1,2014-01-01,2014-01-01
1,1,2014-01-02,NaN,0.0,Pesca,2014,Gennaio,2,1,2014-01-02,2014-01-02
2,2,2014-01-03,NaN,0.0,Pesca,2014,Gennaio,3,1,2014-01-03,2014-01-03
3,3,2014-01-04,NaN,0.0,Pesca,2014,Gennaio,4,1,2014-01-04,2014-01-04
4,4,2014-01-05,NaN,0.0,Pesca,2014,Gennaio,5,1,2014-01-05,2014-01-05

In [9]:
dataset_pesca = dataset[dataset["settore"] == "Pesca"]
dataset_calcio = dataset[dataset["settore"] == "Calcio"]

In [24]:
year_revenue = 0
lista = {'year': [], 'revenue': []}
for year in dataset_calcio["Datetime"].dt.year.unique():
    lista["year"].append(year)
    year_data = dataset_calcio[dataset_calcio["Datetime"].dt.year == year]
    sum_revenue = year_data["totale"].sum()
    lista["revenue"].append(sum_revenue)
calcio = pd.DataFrame(lista)

2014
2015
2016
2017
2018
2019
2020
2021
2022

In [21]:
year_revenue = 0
lista = {'year': [], 'revenue': []}
for year in year_list:
    lista["year"].append(year)
    year_data = dataset_pesca[dataset_pesca["Datetime"].dt.year == year]
    sum_revenue = year_data["totale"].sum()
    lista["revenue"].append(sum_revenue)
pesca = pd.DataFrame(lista)

2014
2015
2016
2017
2018
2019
2020
2021
2022

   year     revenue
0  2014  1959710.58
1  2015  4202764.36
2  2016  7328677.97
3  2017  9221659.24
4  2018  8275946.33
5  2019  6821429.63
6  2020  8190939.82
7  2021  7506147.47
8  2022  1526369.56

In [22]:
pesca.to_csv("./data/pesca_annuale.csv")

In [25]:
calcio.to_csv("./data/calcio_annuale.csv")

In [83]:
monthly = dataset_pesca.groupby(pd.Grouper(key='Datetime', freq='M')).sum()
monthly_calcio = dataset_calcio.groupby(pd.Grouper(key='Datetime', freq='M')).sum()

In [80]:
year_revenue = 0
lista = {'year': [], 'revenue': []}
i = 0
while i < monthly.shape[0]-3:
    lista["year"].append(monthly.index[i+2])
    revenue = monthly.totale[i]+monthly.totale[i+1]+monthly.totale[i+2]
    lista["revenue"].append(revenue)
    i+=3
pesca_trim = pd.DataFrame(lista)

In [84]:
year_revenue = 0
lista = {'year': [], 'revenue': []}
i = 0
while i < monthly_calcio.shape[0]-3:
    lista["year"].append(monthly_calcio.index[i+2])
    revenue = monthly_calcio.totale[i]+monthly_calcio.totale[i+1]+monthly_calcio.totale[i+2]
    lista["revenue"].append(revenue)
    i+=3
calcio_trim = pd.DataFrame(lista)

In [81]:
pesca_trim.head()

        year    revenue
0 2014-03-31  282703.09
1 2014-06-30  396765.88
2 2014-09-30  653145.10
3 2014-12-31  627096.51
4 2015-03-31  731566.64

In [82]:
pesca_trim.to_csv("./data/pesca_trimestrale.csv")

In [85]:
calcio_trim.to_csv("./data/calcio_trimestrale.csv")