In [1]:
import pandas as pd
import numpy as np
import datetime as dt

TBATS is a forecasting method to model time series data. The main aim of this is to forecast time series with complex seasonal patterns using exponential smoothing

![tbats](https://miro.medium.com/max/1400/1*YplGt73W0QbEgNmUV9jKeQ.png)

TBATS: Trigonometric seasonality, Box-Cox transformation, ARMA errors, Trend and Seasonal components.

In order to start forecasting, we need to first install tbats package. The following steps should be implemented to create the model:

- Partition the data into two parts(say, train_data and test_data). Train_data is used to train the model and fit the model to data. The trained model is evaluated using test_data.
- Provide information about season lengths to the model (e.g., if hourly data is present, the model can be plotted weekly for all 24*7 hrs in a week).
- Fit the model to train_data using train_data to the model.
- Forecast the model ahead by a certain period of time for which you want to predict.

![tbats](https://miro.medium.com/max/1400/1*uAzCuU6lUiPQAqu9oNOl3w.png)

The final model will be chosen using Akaike information criterion (AIC).

In particular, auto ARIMA is used to decide if residuals need modeling and what p and q values are suitable.

In [ ]:
# ! pip install tbats

In [2]:
from tbats import BATS, TBATS

In [3]:
df = pd.read_csv('./data/serie-storiche-ecommerce-pulito-no-buchi-temporali.csv')
df.head()

,Unnamed: 0,data,new_index,totale,settore,Anno,Mese,Giorno,Mese (n째)
0,0,2014-01-01,NaN,0.0,Pesca,2014,Gennaio,1,1
1,1,2014-01-02,NaN,0.0,Pesca,2014,Gennaio,2,1
2,2,2014-01-03,NaN,0.0,Pesca,2014,Gennaio,3,1
3,3,2014-01-04,NaN,0.0,Pesca,2014,Gennaio,4,1
4,4,2014-01-05,NaN,0.0,Pesca,2014,Gennaio,5,1

In [11]:
df_pesca = df[df["settore"] == 'Pesca']
df.head()

,Unnamed: 0,data,new_index,totale,settore,Anno,Mese,Giorno,Mese (n째)
0,0,2014-01-01,NaN,0.0,Pesca,2014,Gennaio,1,1
1,1,2014-01-02,NaN,0.0,Pesca,2014,Gennaio,2,1
2,2,2014-01-03,NaN,0.0,Pesca,2014,Gennaio,3,1
3,3,2014-01-04,NaN,0.0,Pesca,2014,Gennaio,4,1
4,4,2014-01-05,NaN,0.0,Pesca,2014,Gennaio,5,1

In [12]:
df_pesca2 = df_pesca[['data', 'settore', 'totale']]
df_pesca2 = df_pesca2.set_index('data')

In [15]:
df_pesca2 = df_pesca2.sort_values(by='data')

In [16]:
y = df_pesca2['totale']
y_to_train = y.iloc[:(len(y)-365)]
y_to_test = y.iloc[(len(y)-365):] # last year for testing

In [17]:
# Fit the model
estimator = TBATS(seasonal_periods=(7, 365.25))
model = estimator.fit(y_to_train) # Forecast 365 days ahead
y_forecast = model.forecast(steps=365)